/*Formato de cajas pokémon*/
.box-grid {
  display: grid;
  grid-template-columns: repeat(6, 50px);
  grid-template-rows: repeat(5, 50px);
  gap: 5px;
  background-color: #f0f0f0;
  padding: 10px;
  border: 2px solid #999;
  border-radius: 8px;
}

/*slot de una caja que está vacío*/
.slot {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
}

/*Fondo de las cajas donde hay un pokémon ocupado*/
.slot.filled {
  background-color: #ffcb05; /* Amarillo Pokémon */
  border: 2px solid #3b4cca;
}

/* Estilo para opciones deshabilitadas en los selects de movimientos */
select option:disabled {
  background-color: #f8d7da; /* rojo clarito */
  color: #721c24; /* texto en rojo oscuro */
}
