/* === Estilo para las cajas donde se guardan los pokémon === */
/*Formato de cajas pokémon*/
.box-grid {
  display: grid;
  grid-template-columns: repeat(6, 80px);
  grid-template-rows: repeat(5, 80px);
  gap: 5px;
  background-color: #f0f0f0;
  padding: 10px;
  border: 2px solid #999;
  border-radius: 8px;
}

/*slot de una caja que está vacío*/
.slot {
  width: 80px;
  height: 80px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
}

/* Estilo para el slot de la caja que el usuario ha pulsado */
.slot.selected {
  border: 3px solid red;
  box-shadow: 0 0 5px black;
}

/*Fondo de las cajas donde hay un pokémon ocupado*/
.slot.filled {
  background-color: #fef07f; /* Amarillo Pikachu */
  border: 2px solid #3b4cca52;
}



/* === Estilos para el formulario de creación de Pokémon === */
/* Color gris de placeholder por defecto) */
.form-control::placeholder {
  color: #6c757d; /* gris Bootstrap */
  opacity: 1;     /* aseguramos que no sea transparente */
}

/* Grid 2x2 para selects de movimientos */
.moves-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* dos columnas iguales */
  gap: 10px 15px; /* espacio entre filas y columnas */
}

/* Estilo para opciones deshabilitadas en los selects de movimientos */
select option:disabled {
  background-color: #f8d7da; /* rojo clarito */
  color: #721c24; /* texto en rojo oscuro */
}



/* ===  Estilos para el contenedor de los recuadros del equipo ===*/

/*El div donde se muestran los pokémon del equipo actual*/
.recuadroEquipo {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  background-color: #f0f0f0;
}

/* Imágenes de cada pokémon en el equipo*/
.recuadroEquipo img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

/*Botón de agregar un pokémon al equipo*/
.recuadroEquipo button {
  width: 100%;
}

/* Diseño para los ataques del Pokémon */
.recuadroEquipo .ataque {
  width: 100%;
  padding: 4px 8px;
  margin: 2px 0;
  border-radius: 6px;
  text-align: center;
  font-weight: 500;
}

/* Diseño para la habilidad del pokémon */
.recuadroEquipo .habilidad {
  margin-top: auto;          /* la empuja al fondo del recuadro */
  width: 100%;
  padding: 6px 10px;
  border-radius: 8px;
  text-align: center;
  font-weight: 600;
  border: 2px solid black;   /* borde negro como los ataques */
}

/* clases de colores para cada tipo de movimiento Pokémon en el cuadro de equipo actual */
.Normal_type { background-color: #A8A77A; color: #fff; }
.Fire_type { background-color: #EE8130; color: #fff; }
.Water_type { background-color: #6390F0; color: #fff; }
.Grass_type { background-color: #7AC74C; color: #fff; }
.Electric_type { background-color: #F7D02C; color: #fff; }
.Ice_type { background-color: #96D9D6; color: #000; }
.Fighting_type { background-color: #C22E28; color: #fff; }
.Poison_type { background-color: #A33EA1; color: #fff; }
.Ground_type { background-color: #E2BF65; color: #000; }
.Flying_type { background-color: #A98FF3; color: #fff; }
.Psychic_type { background-color: #F95587; color: #fff; }
.Bug_type { background-color: #A6B91A; color: #fff; }
.Rock_type { background-color: #B6A136; color: #fff; }
.Ghost_type { background-color: #735797; color: #fff; }
.Dragon_type { background-color: #6F35FC; color: #fff; }
.Dark_type { background-color: #705746; color: #fff; }
.Steel_type { background-color: #B7B7CE; color: #000; }
.Fairy_type { background-color: #D685AD; color: #fff; }
.mystery_type { background-color: #70a494; color: #fff; }



/* === Estilos para las tablas de tipos de Pokémon === */
/* Diseño de las tablas de tipos */
.tablas-container {
  display: flex;
  justify-content: center; /* centra las dos tablas en la página */
  gap: 250px; /* espacio entre columnas */
  flex-wrap: wrap; /* permite que se muevan a otra fila en pantallas pequeñas */
}

/*Columnas donde se dibujan las tablas de tipos*/
.tabla-col {
  display: flex;
  flex-direction: column;
  align-items: center; /* centra la tabla dentro de cada columna */
}

/* Tablas para mostrar debilidades y fortalezas */
.tipo-tablas table {
  border-collapse: separate;   
  border-spacing: 0;          
  border-radius: 10px;         /* borde redondeado */
  overflow: hidden;         
  border: 2px solid #414141;
  text-align: center;
}

/* Encabezados de la tabla */
.tipo-tablas th, .tipo-tablas td {
  border: 1px solid #414141;
  padding: 5px;
  width: 70px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
}

/* Fondo de los encabezados (columnas y filas) */
.tipo-tablas th {
  background-color: #cccccc; /* gris claro para cabeceras */
}

/* Imágenes en cabecera de columnas */
.tipo-tablas th.imgEquipoTablas img {
  width: 50px;
  height: 50px;
}

/* Imágenes en cabecera de filas */
.tipo-tablas th.imgTipoTablas img {
  width: 20px;
  height: 20px;
}


/* Colores de icono para las celdas de la tabla de colores*/
.ataqueEfectivo { 
  color: #4CAF50; /* verde */
  font-size: 1rem;   /* un poco más grande */
  text-shadow: 1px 0 currentColor, -1px 0 currentColor, 0 1px currentColor, 0 -1px currentColor;
  margin: -100px;

} 
.ataqueResistente {
  color: #df7700; /* naranja */
    text-shadow: 1px 0 currentColor, -1px 0 currentColor, 0 1px currentColor, 0 -1px currentColor;

  transform: scaleX(-1);
  display: inline-block;

}.ataqueInmune { 
  color: #6e6e6e; /* gris */
  text-shadow: 1px 0 currentColor, -1px 0 currentColor, 0 1px currentColor, 0 -1px currentColor;
}  



/* Colores contador total efectividades y resistencias */
.contadorEfectivos {
  font-weight: bold;
  background-color: #f8f8f8;
  border-left: 2px solid #999;
}
.contadorEfectivosTotal1 {
  font-weight: bold;
  background-color:  #72ff77; 
  border-left: 2px solid #999; } /* verde mu claro */
.contadorEfectivosTotal2 {  
  font-weight: bold;
  background-color:  #65d368;
  border-left: 2px solid #999;  } /* verde claro*/
.contadorEfectivosTotal3 {  
  font-weight: bold;
  background-color:  #4CAF50;
  border-left: 2px solid #999;  } /* verde */

/* Colores contador total efectividades y resistencias */
.contadorEfectivos {
  font-weight: bold;
  background-color: #f8f8f8;
  border-left: 2px solid #999;
}
.contadorDebilidadesTotal1 {
  font-weight: bold;
  background-color:  #f74e4e; /* rojo mu claro */
  border-left: 2px solid #999; 
  color: #000;
} 
.contadorDebilidadesTotal2 {  
  font-weight: bold;
  background-color:  #d83636; /* rojo claro*/
  border-left: 2px solid #999;  
  color: #000;
} 
.contadorDebilidadesTotal3 {  
  font-weight: bold;
  background-color:  #a81a1a;
  border-left: 2px solid #999; /* rojo */
  color: #fff;
  } 


/* Colores de fondo para las celdas de la tabla de resistencias*/
.pokemonSuperdebil{ color: #fff; background-color:  #a81a1a; } /* rojo */
.pokemonDebil{ background-color:  #f83939; } /* rojo claro*/
.pokemonResistente {background-color: #fcae56; }/* naranja */ 
.pokemonSuperResistente {background-color:  #4CAF50;  } /* verde */
.pokemonInmune { background-color:#cccccc; }  /* gris claro */
.pokemonNeutro { background-color:#f0f0f0; }  /* blanquillo para color neutro */



/* ///// 🎨 Tema oscuro //// */
.dark-theme {
  background-color: #121212;
  color: #f1f1f1;
}

/* === Estilo para las cajas donde se guardan los pokémon === */
/*Tema oscuro para el formato de cajas pokémon*/
.dark-theme .box-grid {
  background-color: #1e1e1e; /* gris muy oscuro */
  border: 2px solid #555;   /* gris oscuro para diferenciar */
}

/*Tema oscuro para el slot de una caja que está vacío*/
.dark-theme .slot {
  background: #1e1e1e;
  border: 1px solid #444;
}

/* Estilo oscuro para el slot de la caja que el usuario ha pulsado */
.dark-theme .slot.selected {
  border: 3px solid #ff4444;
  box-shadow: 0 0 8px #dfdfdf;
}

/*Fondo de las cajas donde hay un pokémon ocupado*/
.dark-theme .slot.filled {
  background-color: #fcb816; /* Amarillo Pikachu shiny */
  border: 2px solid #3b4cca52;
}



/* === Estilos para el formulario de creación de Pokémon === */
/* Estilo oscuro para los cuadros del formulario */
.dark-theme .form-control,
.dark-theme .form-select {
  background-color: #1e1e1e;
  color: #f1f1f1;
  border: 1px solid #444;
  
}

/* Color gris de placeholder con el tema oscuro) */
.dark-theme .form-control::placeholder {
  color: #adadad; /* gris claro */
  opacity: 1;
}

/* Estilo oscuro para los botones */
.dark-theme .btn {
  border-color: #888;
}




/* ===  Estilos para el contenedor de los recuadros del equipo ===*/
/* Estilo oscuro para los cuadros de equipo actual */
.dark-theme .recuadroEquipo {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  background-color: #1e1e1e;
}

/* Diseño para la habilidad del pokémon */
.dark-theme .recuadroEquipo .habilidad {
  margin-top: auto;          /* la empuja al fondo del recuadro */
  width: 100%;
  padding: 6px 10px;
  border-radius: 8px;
  text-align: center;
  font-weight: 600;
  border: 2px solid rgb(255, 255, 255);   /* borde blanco como los ataques */
}


/* === Estilos para la tabla de tipos === */
/* Diseño de las tablas de tipos */
.tipo-tablas table {
  border-collapse: separate;   
  border-spacing: 0;          
  border-radius: 10px;         /* borde redondeado */
  overflow: hidden;         
  border: 2px solid #ccc;
  text-align: center;
}

/* Encabezados de la tabla */
.dark-theme .tipo-tablas th, .tipo-tablas td {
  border: 1px solid #ccc;
  padding: 5px;
  width: 70px;
  height: 30px;
    text-align: center;
  vertical-align: middle;
}

/* Fondo de los encabezados (columnas y filas) */
.dark-theme .tipo-tablas th {
  background-color: #1e1e1e; /* gris claro para cabeceras */
}

.dark-theme .contadorEfectivos {
  font-weight: bold;
  background-color: #3b3b3b; /* gris claro */
  border-left: 2px solid #999;
}

/* Fondo de las celdas de datos cuando es neutro */
.dark-theme .pokemonNeutro { background-color:#3b3b3b; }  /* gris claro */

/* Colores contador total efectividades y resistencias */
.dark-theme .contadorEfectivos {
  font-weight: bold;
  background-color: #f8f8f8;
  border-left: 2px solid #999;
  color: #000;
}
.dark-theme .contadorEfectivosTotal1 {
  font-weight: bold;
  background-color:  #72ff77; /* verde mu claro */
  border-left: 2px solid #999;
  color: #000;
 } 
.dark-theme .contadorEfectivosTotal2 {  
  font-weight: bold;
  background-color:  #65d368; /* verde claro*/
  border-left: 2px solid #999;  
  color: #000;
} 
.dark-theme .contadorEfectivosTotal3 {  
  font-weight: bold;
  background-color:  #4CAF50; /* verde */
  border-left: 2px solid #999;
  color: #000;
  } 

/* === Diseño para formulario de login === */
.dark-theme .modal-content {
  background-color: #1e1e1e;
  color: #f1f1f1;
}

.dark-theme .modal-content .form-control {
  background-color: #2a2a2a;
  color: #f1f1f1;
  border: 1px solid #444;
}

.dark-theme .modal-content .form-control:focus {
  background-color: #333;
  border-color: #0d6efd; /* azul Bootstrap */
  box-shadow: none;
}

.dark-theme .modal-content .btn-close {
  filter: invert(1);
}

/* css para cuando hay una pantalla de móvil */
@media (max-width: 768px) {


  .row {
    display: flex;
    flex-direction: column; /* apila los elementos */
  }
  .col-md-4 { 
    order: -1; /* pone el formulario antes que el pc */
  }

  /* Medidas para las cajas de pc */
  .box-grid {
    grid-template-columns: repeat(6, minmax(50px, 1fr));
    grid-auto-rows: repeat(5, minmax(50px, 1fr));
  }

  /*slot de una caja del pc */
  .slot {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
  }

  /* imágenes del pokémon en la caja */
  .slot img {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  #pokemonFormContainer {
    margin-bottom: 1rem;
  }

  /* Inputs de nombre de pokémon y forma */
  #speciesInput, #formasSelect {
    max-width: 100%;
  }

  /* Grid 2x2 para selects de movimientos */
  .moves-grid {
    grid-template-columns: 1fr; /* una columna por fila */
  }

  /* Recuadro del equipo actual */
  .recuadroEquipo {
    width: 90px;
  }

  /*Imágenes del pokémon en el equipo actual */
  .recuadroEquipo img {
    width: 40px;
    height: 40px;
  }

  /* div de las tablas */
  .tablas-container {
    gap: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem; /* más flexible */
    flex-wrap: wrap;
    padding: 0 1rem;
  }
}
